#root {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(35, 45, 55);
}

.nav {
  background-color: rgb(20, 25, 30);
  height: 70px;
}

.content {
  background-color: black;
  height: calc(100vh - 56px);
}

.jumbotron-background {
  background-image: url('/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.3rem;
}

.jumbotron {
  background-color: rgba(0, 40, 90, 0.7);
  color: white;
}
