#root {
  min-height: 100vh;
  height: 100%;
  background-color: rgb(209, 209, 209);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.text-sm {
  font-size: 0.8em;
}

img {
  padding-left: 2px;
  padding-right: 2px;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 10;
}

.fs-18 {
  font-size: 18px;
}

.dark,
.dark > a {
  color: rgba(26, 26, 26, 0.75);
}

.active {
  font-weight: 500;
  color: #1a1a1a !important;
}

.float-right {
  float: right;
}

.w-75 {
  width: 75%;
}

.blog-post-preview {
  max-height: 4.5em;
  overflow: hidden;
}
