@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::-webkit-scrollbar {
		@apply w-2.5;
	}
	::-webkit-scrollbar-track {
		@apply bg-purple-900 rounded-md;
	}
	::-webkit-scrollbar-thumb {
		@apply bg-purple-500 border-solid border-2 rounded-md border-purple-900;
	}
	html {
		@apply scroll-smooth;
	}
	body {
		@apply font-mono min-h-screen bg-purple-900 text-slate-300;
	}
	h3 {
		@apply 2xl:text-7xl xl:text-6xl lg:text-5xl md:text-4xl sm:text-3xl text-2xl w-max;
	}
	a,
	p,
	span,
	li {
		@apply 2xl:text-2xl xl:text-xl lg:text-lg md:text-base sm:text-sm text-xs 2xl:leading-9 xl:leading-8 lg:leading-7 md:leading-6 sm:leading-5 leading-4;
	}
	a {
		@apply text-primary;
	}
	p {
		@apply font-medium;
	}
	a:not(:has(svg)) {
		@apply relative w-max;
	}
	a:not(:has(svg))::after {
		@apply content-[''] absolute bottom-0 left-0 w-full h-px bg-primary origin-center duration-300 scale-0;
	}
	a:not(:has(svg)):hover::after,
	a:not(:has(svg)):focus::after {
		@apply scale-100;
	}
}
